.skillabout {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: 32vh;
    padding: 20px; 
    flex-wrap: wrap; 
  }

.skillabout > div {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    flex: 1; 
    margin: 10px; 
    text-align: center; 

  }
  
  .skillabout img {
    max-width: 100%;
    height: 40px; 
  }
  
  .skillabout p {
    margin: 0; 
    padding: 0; 
    margin-top: 10px; 
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;

  }
 
/* Styles for tablets (max-width: 768px) */
@media (max-width: 768px) {
  .skillabout {
    height: auto; 
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
  }

  .skillabout > div {
    flex: 0 1 100%; 
    margin: 10px 0; 
  }

  .skillabout img {
    height: 60px; 
  }

  .skillabout p {
    font-size: 14px; 
  }
}





/* Styles for phones (480px and below) */
@media (max-width: 480px) {
  .skillabout {
    flex-direction: column; 
    height: auto; 
    padding: 15px; 
  }

  .skillabout > div {
    flex: 0 1 100%; 
    margin: 10px 0; 
  }

  .skillabout img {
    height: 85px; 
  }

  .skillabout p {
    font-size: 12px; 
  }
}