 
 .reviews-carousel {    width: 90%;
    margin: auto;
    padding: 40px 0;
    background-color: #f9f9f9;
    position: relative;
    z-index: -10;
}

.reviews-carousel h1 {
    text-align: left;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
    color: #333;
}

.review-card {
    width: 100%;
    max-width: 300px; 
    height: auto; 
    border-radius: 10px;
    padding: 20px;
    background-color: #F0F0F0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
}

.slick-slide {
    padding: 0 10px; 
    box-sizing: border-box;
}

.slick-list {
    margin: 0 -10px; 
}

.review-content h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.review-content p {
    font-size: 16px;
    color: #777;
    line-height: 1.5;
}

.slick-dots li button:before {
    font-size: 12px;
    color: #ddd;
}

.slick-dots li.slick-active button:before {
    color: #00bcd4;
}

.slick-dots {
    position: relative;
    bottom: -20px; 
}

@media (max-width: 768px) {
    .reviews-carousel h1 {
        font-size: 28px; 
        text-align: center; 
    }

    .review-card {
        max-width: 90%; 
        margin: 0 auto; 
    }
}

@media (max-width: 480px) {
    .reviews-carousel h1 {
        font-size: 24px; 
    }

    .review-card {
        padding: 15px; 
    }

    .review-content h2 {
        font-size: 16px; 
    }

    .review-content p {
        font-size: 14px; 
    }
} 
