.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px 40px;
  /* color: #000; */
  font-family: "Arial", sans-serif;
  height: 90px;
  border-bottom: 3px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  /* After the scroll navbar css */
  position: relative;
  transition: top 0.3s;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.logo img {
  height: 90px;
  width: auto;
  padding: 5px;
}

.ul ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.ul ul li {
  position: relative;
  color: #000;
}

.ul ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

.ul ul li a:hover {
  color: #4397fc;
}

.ul ul li i {
  margin-left: 5px;
  color: #000;
}

.ul ul li:hover i {
  color: #4397fc;
}

.btns {
  display: flex;
  gap: 15px;
}

.btns a {
  background-color: #187cdd;
  background-color: transparent;
  border: none;
  border-radius: 300px;
  padding: 4px 20px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.enquire-now a {
  background-color: transparent;

  /* color: #4397fc !important; */
  border: 2px solid #187cdd;
}

.learner-login a {
  background-color: #187cdd;
  color: #fff !important;
  border: 2px solid #187cdd;
}

.learner-login a:hover {
  background-color: #4397fc;
  color: #fff;
  border-color: #4397fc;
}


.hamburger {
  display: none;
  cursor: pointer;
  position: absolute; 
  top: 20px; 
  right: 40px; 
  z-index: 1000; 
  /* text-align: center; */
}

.hamburger i {
  font-size: 24px;
  color: #000;
}


/* Mobile styles */
@media (max-width: 840px) {
  .navbar {
    width: 100%;
  }
  .hamburger {
    display: block;
  }
  .ul {
    position: fixed;
    top: 0;
    right: -200px;
    bottom: 0;
    background-color: #4397fc;
    z-index: 999;
    width: 200px;
    transition: right 0.5s ease;
    flex-direction: column;
    padding-top: 80px;
    justify-content: flex-start;
  }

  .ul.open {
    right: 0;
  }

  .ul ul {
    display: flex;
    flex-direction: column;
  }

  .ul ul li {
    margin: 10px 20px;
  }

  .ul ul li a {
    color: #fff;
    font-size: 18px;
  }

  .ul ul li i {
    color: #fff;
  }

  .btns a {
    color: #fff;
  }
}
