.top-web {
  width: 100%;
  height: 55px;
  background-color: #03344d;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 350px;
}



.second-top,
.third {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.third-top{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.item-top, 
.third-top,
 a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 12px;
}


a:hover {
  color: #4397FC;
  text-decoration: underline;
}

.fa-whatsapp {
  color: #25d366;
}

.fa-envelope {

  color: #ff5722;
}

.fa-phone {

  color: blue;
}

.separator {
  color: #fff;
  margin: 0 10px;
}

@media (max-width: 1060px ){
  .top-web {
    flex-direction: column;
    /* display: none; */
  }
}


@media (max-width: 850px) {
  .top-web {
    display: none;
    /* padding-left: 50px; 
    justify-content: space-between;  */
  }
}

